body {
    background-color: #e7edf9;
}

aside {
    position: fixed;
    float: left;
    background-color: #1e325a;
    width: 15%;
    padding: 2.0%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #fff;
}

aside img {
    width: 60px;
    float: left;
    margin-right: 10px;
}

aside .logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 10px;
    font-weight: 600;
}

aside .nav {
    margin-top: 250px;
    font-size: 20px;
    text-align: center;
}

aside a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

aside ul {
    padding: 0;
    list-style: none;
}

aside ul li:first-child {
    margin-top: 15px;
}

aside ul li {
    margin-bottom: 15px;
    transition: transform .6s ease;
}

aside ul li:hover {
    transform: scale(1.05);
}

main .features {
    color: black;
    float: left;
    text-align: center;
    width: 85%;
    margin-top: 1.5%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 600px;
    margin: 20px auto
}

.form-add-news {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}

.alert {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

