{% extends 'main/layout.html' %}

{% block title %}Войти{% endblock %}
{% block content %}
<div class="features">
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
            {{ form.username }}
            <small class="form-text text-muted">Введите ваше имя пользователя.</small>
            {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            <small class="form-text text-muted">Введите ваш email.</small>
            {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Пароль:</label>
            {{ form.password1 }}
            <small class="form-text text-muted">Введите ваш пароль.</small>
            {% if form.password1.errors %}
            <ul class="errors">
                {% for error in form.password1.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Подтвердите пароль:</label>
            {{ form.password2 }}
            <small class="form-text text-muted">Повторите ваш пароль.</small>
            {% if form.password2.errors %}
            <ul class="errors">
                {% for error in form.password2.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">Имя</label>
            {{ form.first_name }}
            <small class="form-text text-muted">Введите ваше имя</small>
            {% if form.first_name.errors %}
            <ul class="errors">
                {% for error in form.first_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>


        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}