{% load static %}
<!--<!doctype html>-->

{% if user.is_authenticated is False %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Montserrat+Alternates:wght@100;200;300;400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'main/js/main.js' %}" defer></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/logo.ico' %}">
    <title>Регистрация</title>
</head>
<body>
<div class="container">
    <a href="{% url 'home' %}" class="back-btn">
        <img src="{% static '/accounts/img/arrow-left.svg' %}" alt="" class="back-btn--trey">
    </a>
    <!--        {{ form.as_p }}-->
    <section class="login-card">
        <div class="login-card--user-information">
            <div class="wrapper-logo-registration">
                <div class="wrapper-logo">
                    <img src="{% static 'main/img/logo.svg' %}">
                    <h1 class="header__text-logo">Komp_EGE</h1>
                </div>
                <p class="header--text--down">Регистрация вашего аккаута</p>
            </div>
            <form method="post" class="login-card--registration-form" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="login-card-user--left">
                    <label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
                    <input type="text" class="login-card-user--input" id="{{ form.last_name.id_for_label }}"
                           name="{{ form.last_name.html_name }}"
                           value="{{ form.last_name.value|default_if_none:'' }}" required tabindex="1"
                           autocomplete="off">

                    <label for="{{ form.middle_name.id_for_label }}">Отчество:</label>
                    <input type="text" class="login-card-user--input" id="{{ form.middle_name.id_for_label }}"
                           name="{{ form.middle_name.html_name }}"
                           value="{{ form.middle_name.value|default_if_none:'' }}" required tabindex="3"
                           autocomplete="off">

                    <label for="{{ form.username.id_for_label }}">Логин:</label>
                    <input type="text" class="login-card-user--input" id="{{ form.username.id_for_label }}"
                           name="{{ form.username.html_name }}"
                           value="{{ form.username.value|default_if_none:'' }}" required tabindex="5"
                           autocomplete="off">

                    <label for="{{ form.password1.id_for_label }}">Пароль:</label>
                    <input type="password" class="login-card-user--input" id="{{ form.password1.id_for_label }}"
                           name="{{ form.password1.html_name }}"
                           value="{{ form.password1.value|default_if_none:'' }}" required tabindex="7">


                    <button type="submit" class="login-card--registration-btn">Зарегистрироваться</button>

                </div>
                <div class="login-card-user--right">
                    <label for="{{ form.first_name.id_for_label }}">Имя:</label>
                    <input type="text" class="login-card-user--input" id="{{ form.first_name.id_for_label }}"
                           name="{{ form.first_name.html_name }}"
                           value="{{ form.first_name.value|default_if_none:'' }}" required tabindex="2"
                           autocomplete="off">

                    <label for="{{ form.birthday.id_for_label }}">Дата рождения:</label>
                    <input type="date" class="login-card-user--input" id="{{ form.birthday.id_for_label }}"
                           name="{{ form.birthday.html_name }}"
                           value="{{ form.birthday.value|default_if_none:'' }}" required tabindex="4"
                           autocomplete="off">

                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    <input type="text" class="login-card-user--input" id="{{ form.email.id_for_label }}"
                           name="{{ form.email.html_name }}"
                           value="{{ form.email.value|default_if_none:'' }}" required tabindex="6" autocomplete="off">

                    <label for="{{ form.password2.id_for_label }}">Подтверджение пароля:</label>
                    <input type="password" class="login-card-user--input" id="{{ form.password2.id_for_label }}"
                           name="{{ form.password2.html_name }}"
                           value="{{ form.password2.value|default_if_none:'' }}" required tabindex="8">

                </div>

            </form>
        </div>
        <img src="{% static 'accounts/img/registration.svg' %}" alt="" srcset="">
    </section>
    {% if messages %}
    <div id="openModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Регистрация</h3>
                    <!--                    <a href="#close" title="Close" class="close">×</a>-->
                </div>
                <div class="modal-body">
                    <p><strong>Поздравляем!</strong>
                        <br><br>
                        Вы успешно зарегистрировались на сайте, теперь Вы можете авторизоваться и использовать
                        возможности в полном объеме.</p>

                    <a href="{% url 'login' %}" class="login-card--registration-btn">Авторизоваться</a>
                </div>
            </div>
        </div>
    </div>

    <!--    <ul class="messages">-->
    <!--        {% for message in messages %}-->
    <!--        <li-->
    <!--                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}-->
    <!--        </li>-->
    <!--        {% endfor %}-->
    <!--    </ul>-->
    {% endif %}
</div>
</body>
</html>
{% endif %}

<!--{% block title %}Войти{% endblock %}-->
<!--{% block content %}-->
<!--<div class="features">-->
<!--    <h1>Регистрация</h1>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->

<!--        <div class="form-group">-->
<!--            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>-->
<!--            -->
<!--            <small class="form-text text-muted">Введите ваше имя пользователя.</small>-->
<!--            {% if form.username.errors %}-->
<!--            <ul class="errors">-->
<!--                {% for error in form.username.errors %}-->
<!--                <li>{{ error }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            {% endif %}-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="{{ form.email.id_for_label }}">Email:</label>-->
<!--            {{ form.email }}-->
<!--            <small class="form-text text-muted">Введите ваш email.</small>-->
<!--            {% if form.email.errors %}-->
<!--            <ul class="errors">-->
<!--                {% for error in form.email.errors %}-->
<!--                <li>{{ error }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            {% endif %}-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="{{ form.password1.id_for_label }}">Пароль:</label>-->
<!--            {{ form.password1 }}-->
<!--            <small class="form-text text-muted">Введите ваш пароль.</small>-->
<!--            {% if form.password1.errors %}-->
<!--            <ul class="errors">-->
<!--                {% for error in form.password1.errors %}-->
<!--                <li>{{ error }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            {% endif %}-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="{{ form.password2.id_for_label }}">Подтвердите пароль:</label>-->
<!--            {{ form.password2 }}-->
<!--            <small class="form-text text-muted">Повторите ваш пароль.</small>-->
<!--            {% if form.password2.errors %}-->
<!--            <ul class="errors">-->
<!--                {% for error in form.password2.errors %}-->
<!--                <li>{{ error }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            {% endif %}-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="{{ form.first_name.id_for_label }}">Имя</label>-->
<!--            {{ form.first_name }}-->
<!--            <small class="form-text text-muted">Введите ваше имя</small>-->
<!--            {% if form.first_name.errors %}-->
<!--            <ul class="errors">-->
<!--                {% for error in form.first_name.errors %}-->
<!--                <li>{{ error }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            {% endif %}-->
<!--        </div>-->


<!--        <button type="submit">Зарегистрироваться</button>-->
<!--    </form>-->
<!--</div>-->
<!--{% endblock %}-->