{% extends 'main/layout.html' %}

{% block title %}Главна страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi aperiam consequatur facere minima nam non, odio odit omnis quam quia quibusdam quo rerum tempore ut vel veniam, vero voluptate.</p>
        <p>На сайте ведутся технические работы</p>
        <button class="btn btn-info" type="button">Обновить страницу</button>
    </div>
{% endblock %}