{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Montserrat+Alternates:wght@100;200;300;400;500;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/logo.ico' %}">
    {% block style%}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'main/js/main.js' %}" defer></script>
</head>
<body>
<div class="container">
    <header class="header">
        <a href="{% url 'home' %}" class="header--logo">
            <img src="{% static 'main/img/logo.svg' %}">
            <h1 class="header__text-logo">Komp_School</h1>
        </a>
        <div class="wrapper-right">
            <ul class="header--list">
                <li class="header--item"><a href="{% url 'home' %}" class="header--item--link">Главная</a></li>
                <li class="header--item"><a href="{% url 'inf_home' %}" class="header--item--link">КЕГЭ</a></li>
                <li class="header--item"><a href="{% url 'news_home' %}" class="header--item--link">Новости</a></li>
                <li class="header--item"><a href="{% url 'about' %}" class="header--item--link">О нас</a></li>
                {% if user.is_authenticated %}
                <li class="header--item">
                    <div class="header--dropdown-menu">
                        <div class="wrapper-user">
                            {{ request.user.first_name }}
                            <img src="{% static 'main/img/user_icon.svg' %}" alt="" class="user-icon">
                        </div>
                        <div class="header--dropdown-menu--content">
                            {% if user.is_superuser %}
                            <a href="{% url 'admin:index' %}">Админ-Панель</a>
                            {% endif %}
                            <a href="{% url 'profile' %}">Профиль</a>
                            <a href="{% url 'logout' %}">Выход</a>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="header--item">
                    <a href="{% url 'login' %}" class="header--login--btn header--item--link">Вход</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>
    <main>
        {% block content%}

        {% endblock %}

    </main>
</div>

</body>
</html>